/* ------------------
----- All pages -----
--------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: #eee;
}

nav {
    /* background-color: #d2ac79ff; */
    background-color: #5e976bff;
    /* display: "flex", gap: "1rem", padding: "1rem" */
}

nav a {
    text-decoration: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    background-color: #4ca9f5ff;
}

button {
    padding: 10px;
    background: #4ca9f5ff;
    border-radius: 5px;
}

/* ------------------
----- Main page -----
--------------------- */

h2 {
    margin: 10px;
}

/* filters button */
#filter-toggle-btn {
    margin-left: 10px;
}

#filter-menu {
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ddd;
}

#filter-menu-categories ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 100%;
    padding: 10px;
}

#filter-menu-categories ul li {
    width: 80%;
    border: none;
    margin: 5px 0;
}

#filter-menu-categories ul li button {
    width: 100%;
}

#filter-menu-allergens,
#filter-menu-close {
    margin: 0 0 10px 10px;
}

#allergens-list img {
    width: 50px;
}

#allergens-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    /* padding: 10px; */
    margin-right: 10px;
}

#allergens-list li {
    max-width: 100px;
}

.allergen-button {
    max-width: 100px;
    max-height: 100px;
}

.allergen-name {
    min-width: 40px;
    padding: 0 10px;
    margin-bottom: 5px;
}

#shopping-cart-btn {
    position: fixed;
    right: 20px;
    top: 80px;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
}

ul li {
    border: 2px solid #555;
    border-radius: 5px;
    margin: 10px;
    list-style-type: none;
}

ul li .product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    object-position: center;
    margin: 5px;
}

.add-to-cart-button {
    margin: 5px;
    width: 200px;
}

.product-info h4 {
    font-size: 20px;
    margin: 5px;
}

.product-description,
.product-price {
    margin: 5px;
}

dialog[open] {
    position: fixed;
    inset: 0;
    margin: 17% auto;
    width: min(500px, 90vw);
    max-height: 90vh;
    border-radius: 5px;
}

dialog[open]::backdrop {
    background: rgba(0, 0, 0, 0.35);
    /* backdrop-filter: blur(2px); */
}

dialog img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#add-product-header,
#add-product-image,
#add-product-price,
#add-product-options,
#add-product-actions {
    margin: 10px 5px;
}

#add-product-image img {
    width: 300px;
    height: 300px;
}

#add-product button {
    margin: 5px 5px 0 0;
}

.cart-header {
    font-size: 24px;
    margin: 10px;
}

.cart-item {
    padding: 5px;
    position: relative;
}

.cart-items p {
    margin-left: 10px;
}

.cart-item .delete-item-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#cart-total-price {
    margin-left: 10px;
}

#cart-total-price {
    margin-left: 10px;
}

.item-info {
    margin-bottom: 5px;
}
.cart-items ul {
    max-height: 300px; /* adjust as needed */
    overflow-y: auto;
    padding-left: 1rem; /* optional, keeps bullets aligned */
}

.shopping-cart-dialog {
    position: relative;
}

.close-cart-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.login-prompt {
    margin: 10px;
}

.payment-button {
    margin: 0 0 10px 10px;
}

/* --------------------------------
----- login and register page -----
----------------------------------- */

#login-container,
#register-container {
    width: 80%;
    max-width: 500px;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    /* display: flex; */
}

#login-container h2,
#register-container h2 {
    font-size: 36px;
    margin-bottom: 15px;
    text-align: center;
}

#login-container form label,
#register-container form label {
    font-size: 20px;
    margin: 5px 0;
}

#login-container form input,
#register-container form input {
    margin: 5px 0;
    height: 30px;
    width: 100%;
}

#login-container button,
#register-container button {
    font-size: 20px;
    padding: 5px 20px;
    margin: 10px 0;
    width: 101%;
}

/* ---------------------
----- payment page -----
------------------------ */

#payment-view {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
    font-size: 20px;
}

#payment-view h2,
#payment-view h3 {
    margin: 5px 0;
}

#payment-view p {
    margin: 5px 0;
}

#payment-view button {
    width: 40%;
    max-width: 200px;
    /* margin: 0 5%; */
    margin-right: 8%;
}

#payment-view li {
    margin: 3px 0 3px 23px;
    list-style-type: decimal;
    border: none;
}

.payment-radio {
    margin-bottom: 15px;
}

.payment-radio * {
    font-size: 20px;
}

/* -----------------------
----- my orders page -----
-------------------------- */

.my-orders {
    font-size: 20px;
}

.my-orders tr {
    border: 2px solid black;
    background-color: #888;
}

.my-orders td img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: flex;
    object-position: center;
}

/*  */
